@tailwind base;
@tailwind components;
@tailwind utilities;

/* Primary theme color
rgb(36,36,36) or #242424
 */

/* Secondary theme color 
rgb(247,171,10) or #f7ab0a
*/

@layer components {
  .heroButton {
    @apply md:px-6 px-4 py-2 md:mx-3 mx-1 border border-[#2424242] rounded-full text-xs tracking-widest text-gray-500 transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40;
  }

  /* Theme effects css */
  .glassEffect {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
  }

  .elevatedEffect{
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                      0  15px 15px rgba(0, 0, 0, 0.3),
                inset 0 -15px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10%;
  }

  .climbingPlane{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% + 200px);
    height: 100px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    animation: animatePlane 1.5s ease-in-out infinite;
  }

  @keyframes animatePlane {
    0% {
      transform:translateX(0px);
    }
    100% {
      transform:translateX(-100px);
    }
    
  }
  .climbingCube {
    position: relative;
    width: 100px;
    height: 100px;
    background: #f7ab0a;
    box-shadow: 0 0 5px #f7ab0a,
    0 0 25px #f7ab0a,
    0 0 50px #f7ab0a,
    0 0 100px #f7ab0a,
    0 0 200px #f7ac0a5f,
    0 0 300px #f7ac0a76;
    transform-origin: bottom right;
    animation: animate 1.5s ease-in-out infinite;
  }

  @keyframes animate {
    0% {
      transform:rotate(0);
    }
    60% {
      transform: rotate(90deg);
    }
    65% {
      transform: rotate(85deg);
    }
    70% {
      transform: rotate(90deg);
    }
    75% {
      transform: rotate(87.5deg);
    }
    80%,100% {
      transform: rotate(90deg);
    }
  }
    
  

  .primaryGradient {
    background-color: #f7ab0a;
    background-image: linear-gradient(
      225deg,
      #f7ab0a 0%,
      #af5353 50%,
      #242424 100%
    );
  }

  .secondaryGradient {
    background: #304352; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #979796,
      #242424
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #616161,
      #242424
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .slider{
    animation: scroll 30s linear infinite;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-3000px);
    }
  }

  circle{
    stroke-dashoffset: 0;
    stroke-dashoffset: 0;
  stroke-width: 15%;
  fill: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .text span{
    position: relative;
    display: inline-block;
  }

 
}
